fastapi
uvicorn[standard]
sqlalchemy
psycopg2-binary
pydantic[email]
python-dotenv
google-genai
passlib[bcrypt]
bcrypt==4.0.1
scikit-learn
PyJWT
python-multipart
email-validator
pandas
python-jose[cryptography]
google-auth
requests
numpy
scipy
joblib
slowapi
cloudinary==1.44.1